{% extends "_base.html" %}

{% block content %}
  <h1>Device Type Details: {{ object.name }}</h1>

  <p><strong>Name:</strong> {{ object.name }}</p>
  <p><strong>Description:</strong> {{ object.description }}</p>

  <h2>Parameters:</h2>
  <ul>
    {% for parameter in object.devicetypeparameter_set.all %}
      <li>
        <strong>Parameter Name:</strong> {{ parameter.name }}<br>
        <strong>Minimum Value:</strong> {{ parameter.min_value }}<br>
        <strong>Maximum Value:</strong> {{ parameter.max_value }}<br>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'types' %}">Back to Device Type List</a>
{% endblock %}
