{% include 'grafs/_graf.html' %}

<script>
    let params = [
        {% for param in params %}
        '{{ param }}',
        {% endfor %}
    ]
    const charts = document.querySelectorAll('.chart-cont');

    function requestMetrics(device, time_from, time_to) {
        let url = `/api/v1/device/${device}/metrics`;
        if (time_from || time_to) {
            url += "?";
        }
        if (time_from !== undefined) {
            url += `from=${time_from}`;
            if (time_to !== undefined) {
                url += "&";
            }
        }
        if (time_to !== undefined) {
            url += `to=${time_to}`;
        }
        return fetch(url)
            .then(response => response.json())
            .then(data => {
                return data;
            });
    }

    for (const chart of charts) {
        const device = chart.id.split('-')[3];
        const metricSet = requestMetrics(device, undefined, undefined)

        metricSet.then(data => {
            for (const [metric, value] of Object.entries(data)) {
                if (params.includes(metric) === false) {
                    continue;
                }
                new_graph(chart, metric, value);
            }
        })
    }
</script>


<script>
    {#let timeFrom = document.getElementById('timeFrom');#}
    {#let timeTo = document.getElementById('timeTo');#}
    {#let timeFromBtn = document.getElementById('timeFromBtn');#}
    {#let timeToBtn = document.getElementById('timeToBtn');#}

    {#timeFromBtn.addEventListener('change', function () {#}
    {#    timeFrom.disabled = !timeFromBtn.checked;#}
    {# });#}

    {#timeToBtn.addEventListener('change', function () {#}
    {#    timeTo.disabled = !timeToBtn.checked;#}
    {# });#}

    function new_graph(chart, metric, value) {
        const newCanvas = document.createElement("canvas");
        newCanvas.id = metric
        chart.appendChild(newCanvas)

        new Chart(newCanvas, {
            type: "line",
            data: {
                labels: value["time"],
                datasets: [
                    {
                        label: metric,
                        data: value["value"]
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        })
    }

    function fetch_metrics() {
        const time_from = timeFromBtn.checked ? new Date(timeFrom.value).getTime() / 1000 : undefined;
        const time_to = timeToBtn.checked ? new Date(timeTo.value).getTime() / 1000 : undefined;

        const metricSet = requestMetrics(device, time_from, time_to)

        metricSet.then(data => {
                for (const [metric, value] of Object.entries(data)) {
                    if (params[metric] === undefined) {
                        continue;
                    }
                    const canvas = document.getElementById(metric);
                    canvas.remove();
                    new_graph(metric, value);
                }
            }
        )
    }
</script>