{% extends "_base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ object.username }}</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input class="form-control" id="first_name" name="first_name"
                                       aria-describedby="emailHelp" value="{{ object.first_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Second Name</label>
                                <input class="form-control" id="last_name" name="last_name"
                                       aria-describedby="emailHelp" value="{{ object.last_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       aria-describedby="emailHelp" value="{{ object.email }}">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                            </div>

                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <i>last login: {{ object.last_login }}</i>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Groups</h4>
                        <form method="post" action="/user/{{ object.id }}/groups">
                            {% csrf_token %}
                            <label for="groups">
                                <select id="groups" name="groups" multiple="multiple" style="width: 10em">
                                    {% for group in groups %}

                                        {% if group in object.groups.all %}
                                        <option value="{{ group.id }}" selected>{{ group.name }}</option>
                                        {% else %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endif %}
                                        {% empty %}
                                        <option value="0" disabled>No groups</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">

{% endblock %}


{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            // Initialize Select2 on the select element
            $('#groups').select2();
        });
    </script>
{% endblock %}